@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Please select Log file to analyze</h1>
    @using (Html.BeginForm("Upload",
                                "File",
                                FormMethod.Post,
                                new { enctype = "multipart/form-data" })) {
        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Upload File" />
    }
    @ViewBag.Message


</div>

